<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.api.user.mapper.CompanyMapper">
    
    <!-- 기본 회사 조회 -->
    <select id="selectDefaultCompany" resultType="kr.co.common.entity.standard.company.CompanyEntity">
        SELECT *
        FROM company
        WHERE is_default = 'Y'
        AND delete_date IS NULL
    </select>
    
</mapper>