server:
  servlet:
    context-path: /
  port: 8080
spring:
  profiles:
    active: local
    include:
      - db
      - common
  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB

# JWT (임시로 평문 - 암호화 후 변경 예정)
jwt:
  secret-key: ENC(ASROcAx5EmcuapZPlhHhlti/2mju7EcvAyjgi1Ov4uaqcu2h8AxvUO8KpKyW2SSWsjt2O8i4naQxR5oFI85Z6MasSCJKBtbILTX9c2b3s2s=)
  token-claims-key: ENC(c5uKGCtRxJZ2UAJ/Ff5RLKW40H2tffd2QSyrIi9aEJPSGo4vy/7p2lI95lffdxWclaoWJnOgdsR6MXHb3VE3V8k/3NZYCO21P6eU/UKxS0g=)
  token-access-decrypt-key: ENC(U7dHxkq0vJB+X2/9zQPRwV29SbcaG7lKgW0dX64XCd2Bcwm8dRZELU4vBerLUYLZSc/aMcPvgqFT/mlEQyLkWa5qvquotpwN1qzZSUFcUK4=)
  token-refresh-decrypt-key: ENC(CpLsBGqIymaCzhIrgyPTHLjj6SYCvTqf9d3hBNYGcyjY0RfUc09F4D5u0Ie4nsc5lzPXnFCUqILHCBiGeC6l0HJtw2LjytOTP8inMqz56a0=)
  expired-time: 30 # 30 = 30분 30
  expired-refresh-time: 4320 # 4320 = 3일

petcrown:
  encryption:
    key : ENC(CGKaOS2fx096pFD2i6SgdxHc2lUXGHmoRk/pHTyDMD0CgwtKiZn5zmkcnJgMwvD3cWKPLVYp0tJgiaFCM1MkBT2zTwYvq2QFlvKzDSkYQac=)

# 로깅
logging:
  config: classpath:logback/logback-${spring.profiles.active}.xml  # 동적 로깅 설정 파일
  level:
    kr.co.api.user.repository: DEBUG

# JOOQ (MyBatis 설정 제거됨)

---
spring:
  config:
    activate:
      on-profile: local

petcrown:
  frontend:
    url: http://localhost:3000

---
spring:
  config:
    activate:
      on-profile: dev

petcrown:
  frontend:
    url: http://localhost:3000

---
spring:
  config:
    activate:
      on-profile: prod

petcrown:
  frontend:
    url: https://petcrown.co.kr

