<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.co.api.user.mapper.EmailGuestMapper">

    <!-- 오늘 날짜에 인증된 이메일인지 확인 -->
    <select id="selectTodayVerifiedEmail" resultType="kr.co.common.entity.user.EmailGuestEntity">
        SELECT
            email_guest_id as emailGuestId,
            email,
            join_date as joinDate,
            encrypte_token as encrypteToken,
            create_date as createDate
        FROM email_guest
        WHERE email = #{email}
          AND join_date = #{joinDate}
    </select>

    <!-- 이메일 게스트 저장 -->
    <insert id="insertEmailGuest" parameterType="kr.co.common.entity.user.EmailGuestEntity">
        INSERT INTO email_guest (
            email,
            join_date,
            encrypte_token,
            create_date
        ) VALUES (
            #{email},
            #{joinDate},
            #{encrypteToken},
            #{createDate}
        )
    </insert>

</mapper>