spring:
  config:
    activate:
      on-profile: local
  datasource:
    hikari:
      maximum-pool-size: 4
    url: ENC(PT7N9LcUq2V7k5iV1UJTxLaaeryJci1JPwLzqph4SBv5r05nJ6F2vKNPFTSdfMqZxznUC7XXsjOyyRflPwguW0buBjQb698nSGEKtrIFCn8=)
    username: ENC(GAfviJePfF397IVOKCav/8reMS9PsX3fr1XBRRdnfypCd5yMU7pyfI1In4+Kga7Y)
    password: ENC(/YcEmV+aGIl12DpxPPpsGSWPGzeXDqxcyvTdP/ygWEJlnnilEo9dCri7kEDsViHw)
    plaform: postgres
    driver-class-name: org.postgresql.Driver

---
spring:
  config:
    activate:
      on-profile: prod
  jpa:
    database: postgresql
    hibernate:
      dialect: org.hibernate.dialect.PostgreSQLDialect
    #      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        default_schema: public
    show-sql: true
  datasource:
    hikari:
      maximum-pool-size: 4
    url: ${DATASOURCE_URL}
    username: ${DATASOURCE_USERNAME}
    password: ${DATASOURCE_PASSWORD}
    plaform: postgres
    driver-class-name: org.postgresql.Driver
